.form-control::placeholder {
    color: #ccc;
    opacity: 1;
}

.equal-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(64, 224, 208, 1);
}

.image-carousel {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
